* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Roboto;
  letter-spacing: 0px;
}

.padding-main {
  padding: 0 5%;
}

/****************Header****************/
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;
  position: relative;
  z-index: 10;
}
.heading__logo {
  height: 30px;
}

/****************Main****************/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
  gap: 15px;
  z-index: 1;
}
.location__icone {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}
.location__text {
  margin-right: 8%;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1rem;
  font-weight: bold;
}

.introduction {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  align-items: center;
  text-align: center;
  margin-bottom: 13%;
}
.introduction__big-title {
  margin-bottom: 3%;
  width: 70%;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.8rem;
}
.introduction__lit-title {
  width: 85%;
  margin-bottom: 7%;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.3rem;
}
.introduction__button {
  background: linear-gradient(175deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 94%);
  padding: 17px 20px;
  border-style: none;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  margin-bottom: 4%;
}

.fonctionnement__title {
  font-size: 1.5rem;
  font-weight: 900;
}
.fonctionnement__allcard {
  margin-top: 7%;
  margin-bottom: 22%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
}
.fonctionnement__card {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  gap: 6%;
  border-radius: 25px;
  padding: 30px 0px 30px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 95%;
  box-sizing: unset;
}
.fonctionnement__card__number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  background: #9356DC;
  color: white;
  border-radius: 50px;
  padding-top: 2px;
  width: 25px;
  height: 25px;
  margin-left: -13px;
}
.fonctionnement__card__icone {
  color: #7e7e7e;
  font-size: 20px;
}
.fonctionnement__card__text {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Roboto;
}

.restaurant {
  margin-top: 7%;
  margin-bottom: 15%;
  background-color: #f7f7f7;
}
.restaurant__title {
  padding-top: 13%;
  margin-bottom: 6%;
  font-size: 1.6rem;
  font-weight: 800;
}
.restaurant__allcard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurant__link {
  text-decoration: none;
  color: black;
}
.restaurant__card {
  height: 260px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  position: relative;
}
.restaurant__card__badge {
  font-size: 0.9rem;
  font-weight: 500;
  position: absolute;
  color: #008766;
  border-radius: 5px;
  background-color: #99E2D0;
  padding: 10px;
  right: 15px;
  top: 15px;
}
.restaurant__card__img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurant__card__contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}
.restaurant__card__contenu__title {
  font-size: 1.2rem;
  font-weight: bold;
}
.restaurant__card__contenu__text {
  margin-top: 4%;
  font-size: 1.1rem;
  font-weight: 300;
}
.restaurant__card__icone {
  font-size: 25px;
  margin-right: 10px;
}

/****************Footer****************/
.foot {
  padding-bottom: 10%;
  color: white;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.foot__title {
  margin: 7% 0% 4% 0%;
  font-family: Shrikhand;
  font-size: 1.3rem;
  font-weight: 100;
}
.foot__link {
  text-decoration: none;
  color: white;
}
.foot__link__icone {
  font-size: 15px;
  width: 20px;
  margin-right: 2%;
}

/****************La palette du gout****************/
.principal--restaurant {
  background-color: #f7f7f7;
}

.heading--restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}
.heading--restaurant__icone {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.heading--restaurant__logo {
  height: 30px;
}

.introduction--restaurant__img {
  width: 100%;
  height: 275px;
  z-index: 1;
  object-fit: cover;
}

.menu {
  background-color: #f7f7f7;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  z-index: 10;
  margin-top: -55px;
}
.menu__top {
  display: flex;
  align-items: center;
  padding-top: 10%;
}
.menu__top__title {
  font-size: 1.8rem;
  font-weight: 100;
  font-family: Shrikhand;
}
.menu__top__icone {
  margin-left: 15%;
  font-size: 25px;
}
.menu__generic {
  margin-top: 11%;
}
.menu__generic__top__title {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 300;
}
.menu__generic__top__line {
  margin-top: 5px;
  height: 3px;
  background-color: #99E2D0;
  width: 40px;
}
.menu__generic__allcard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 5%;
}
.menu__generic__card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 13px 10px;
  line-height: 1.5rem;
}
.menu__generic__card__title {
  font-size: 1.2rem;
  font-weight: 500;
}
.menu__generic__card__contenu {
  display: flex;
  justify-content: space-between;
}
.menu__generic__card__contenu__text {
  font-size: 1rem;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__generic__card__contenu__price {
  font-size: 1rem;
  font-weight: bold;
  padding-right: 15px;
}
.menu__order {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__order__btn {
  background: linear-gradient(175deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 94%);
  padding: 17px 50px;
  border-style: none;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  margin: 12% 0%;
}

/*# sourceMappingURL=style.css.map */
